.termos {
  padding-top: 80px;
  padding-bottom: 80px;
}

.termos h2 {
  font-weight: 600;
  margin-bottom: 20px;
}

.termos p + h2 {
  /*só vai se aplicar no h2 que vem após o p*/
  margin-top: 40px;
}

.termos p {
  max-width: 75ch; /*só vai se expandir até 74 caracteres, ou seja, apenas no primeiroa que ele n vai add*/
  margin-bottom: 20px;
}
